backend/K24DataHarvester/statemachine/tweet_importer.asl.json
{
    "Comment": "A state machine to import tweets.",
    "StartAt": "Read Config Params From Db",
    "TimeoutSeconds": 30,
    "States": {
        "Read Config Params From Db": {
            "Type": "Task",
            "Resource": "${ReadConfigParamsFromDbFunctionArn}",
            
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.TaskFailed"
                    ],
                    "IntervalSeconds": 5,
                    "MaxAttempts": 1,
                    "BackoffRate": 1.5
                }
            ],
            "Next": "Process All Categories"
        },
        "Process All Categories": {
            "Type": "Map",
            "ItemsPath": "$.queries",
            "MaxConcurrency": 0,
            "Next": "AllFinish",
            "Iterator": {
                "StartAt": "Search For Tweets and Save to s3",
                "States": {
                    "Search For Tweets and Save to s3": {
                        "Type": "Task",
                        "Resource": "${TweetSearcherFunctionArn}",
                        
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 30,
                                "MaxAttempts": 2,
                                "BackoffRate": 1.5
                            }
                        ],
                        "Next": "Results Found?"
                    },
                    "Results Found?": {
                        "Type": "Choice",
                        "Choices": [
                            {
                                "Variable": "$.body.count",
                                "NumericGreaterThan": 0,
                                "Next": "Yes, Save To Dynamo Db"
                            }
                        ],
                        "Default": "Finish"
                    },
                    "Yes, Save To Dynamo Db": {
                        "Type": "Task",
                        "Resource": "${SaveToDynamoDbFunctionArn}",
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.TaskFailed"
                                ],
                                "IntervalSeconds": 5,
                                "MaxAttempts": 3,
                                "BackoffRate": 1
                            }
                        ],
                        "Next": "Finish"
                    },
                    "Finish": {
                        "Type": "Succeed"
                    }
                }
            }
        },
        "AllFinish": {
            "Type": "Succeed"
        }
    }
}